@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins",sans-serif;
  --color-primary: #B23920;
  --color-secondary: #F7B754;
  --color-tertiary: #223c5f; 
}

@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-poppins text-black/80 text-base bg-white 
        dark:text-white/80;
  }

  .container {
    @apply max-w-7xl w-full mx-auto px-4;
  }

  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  header {
    @apply bg-white;
  }

  .headerNav ul {
    @apply flex flex-col gap-5 fixed w-full top-26 text-left items-start overflow-hidden right-0 h-0 opacity-0 duration-300 
   /* tablet-desktop */
    md:opacity-100 md:flex-row md:items-center md:top-auto md:h-auto md:static md:shadow-none;
  }

  .headerNav ul.open {
    @apply h-fit opacity-100 bg-white shadow-md w-full top-22 px-4 pb-3 duration-300
    /* tablet-desktop */
    md:shadow-none md:px-0 md:pb-0;
  }
  

  .toggleMenu span {
    @apply inline-block w-8 h-1 rounded-xl dark:bg-white/80 bg-primary;
  }
  .toggleMenu.open span:first-child {
    @apply rotate-45 translate-y-2 duration-100 bg-primary;
  }
  .toggleMenu.open span:nth-child(2) {
    @apply opacity-0;
  }
  .toggleMenu.open span:last-child {
    @apply -rotate-45 -translate-y-1 bg-primary;
  }
  .toggleMenu {
    @apply flex flex-col gap-1
    /* tablet - desktop */
     md:hidden;
  }
  .transparent{
    @apply hidden;
  }
  .transparent.open{
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 top-75 duration-300 overflow-y-hidden;
  }
  .btn{
    @apply inline-block px-6 py-3 rounded-lg font-medium w-full text-center md:w-auto;
  }
  .btn--primary{
   @apply bg-primary text-white;
  }
  .btn--secondary{
    @apply border bg-secondary border-primary hover:bg-gray-100 hover:text-black/80;
  }


.foodCard{
    @apply text-white border border-white rounded-2xl w-full max-w-120 inline-block p-8 mt-10;
}
.foodCard, .foodCard ul{
    @apply text-center justify-center items-center;
}

.foodCard img{
    @apply size-30 my-5 mx-auto;
}
.foodTab.active{
    @apply border-2 border-secondary rounded-full p-1 box-content;
}
.foodItem{
    @apply hidden lg:hidden;
}
.foodItem.active{
    @apply block lg:block;
}





.eventTab{
    @apply font-bold border-r pr-3 cursor-pointer lg:px-10;
  }
  .eventTab:last-child{
    @apply border-none;
  }
  .eventTab.active{
    @apply text-black;
  }
  .eventItemWrap{
    @apply flex flex-col flex-wrap gap-5;
  }
  .eventItem{
    @apply hidden lg:hidden;
  }


.yearItem--detail{
  @apply max-h-0 overflow-hidden duration-100 mt-1;
}
.yearItem.active i{
  @apply rotate-180;
}


.card,
  .eventCard{
    @apply bg-white dark:bg-gray-800 dark:text-white p-8 rounded-xl shadow-md;
  }
  .card img{
    @apply size-16 mb-6;
  }
  .card h3,
  .eventCard h5{
    @apply font-semibold mb-3 text-blue-700;
  }
  .card p{
    @apply mb-5;
  }
  .card a{
    @apply text-blue-600 font-medium hover:text-blue-700;
  }
}

